body{
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}
figure{
  margin: 0;
}
figure img{
  height: 15vh;
}
body h1{
  font-size: 8vw;
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  text-shadow: -4px 2px 4px rgba(0, 0, 0, .5);

}
body h3 {
  font-size: 20pt;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
body p {
  font-family: Lato, sans-serif;
  font-size: 14pt;
  font-weight: 300;
}
.subtitle{
  color: black;
  font-size: 24pt;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.43;
  margin-left: 0;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  padding-left:  5vw;
  padding-right: 5vw;
  z-index: 3;
  position: absolute;
  color: transparent;
}
.shadow{
  box-shadow: -4px 2px 6px rgba(0, 0, 0, 0.5);
}

.menu a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 18px;
  /*color: #1B1215;*/
  color: white;
  margin-right: 5px;
  font-weight: 500;
}

/*SLIDER PORTADA*/
.mySlides {
  display:none;
  height: 100vh;
  width: 100%;}

.portada{
  display: flex;
  align-items: center;
  justify-content: center;

}
.textoPortada{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 30vh;
  width: 90vw;
  z-index: 3;
}

.textoPortada h3{
  text-align: center;
  font-size: 18pt;
  font-family: 'Montserrat';
  color: white;
  text-shadow: -4px 2px 4px rgba(0, 0, 0, .5);

}
.rectangle{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}
.button{
  font-family: 'Montserrat';
  text-decoration: none;
  color: white;
  background-color: #F46219;
  border-radius: 5px;
  padding: 15px 10px 15px 10px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .5);
  margin-top: 10px;
  font-size: 14pt;
  font-weight: 400;
}
.quienesSomos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 10vh 5vw 10vh 5vw;
}
.textoQuienesSomos{
  width: 50vw;
  padding-right: 1vw;
}

.imagenQuienesSomos{
  width: 50vw;
  padding-left: 1vw;

}
.imagenQuienesSomos img{
  width: 100%;
}

.rectangleNaranja{
  height: 3pt;
  width: 40vw;
  background-color: #F46219;
  margin: 5vh 0 5vh 0;
}
.vw15{
  width: 15vw;
}
.nuestrosServicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.containerServicios{
  display: flex;
  width: 100vw;
  height: 80vh;
  margin-top: 5vh;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.descripcionServicios{
  display: flex;
  flex-direction: row;
  width: 40vw
}
.titulo{
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100vw;

}
.circle{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F46219;

}
.material-icons.md72{
    font-size: 50px;
    color: white
  }
.textoServicios{
  margin-left: 3vw;
  width: 30vw;
}
.textoServicios h4{
  font-family: 'Montserrat';
}
