@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-Black.otf);
  font-weight: 900; /* Black*/
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-BlackItalic.otf);
  font-weight: 900; /* Black*/
  font-style: italic;
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-Bold.otf);
  font-weight: 800; /* Black*/
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-BoldItalic.otf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-Medium.otf);
  font-weight: 600;
}
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-MediumItalic.otf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-Regular.otf);
  font-weight: 500; /*Regular*/
}
@font-face {
  font-family: SolPro;
  src: url(../fonts/Sol_Pro/SolPro-Italic.otf);
  font-weight: 500; /*Regular*/
  font-style: italic;
}
}

/*MENU LEONIDAS ICON FONT*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}

html{
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  /*width: 100vw;*/
  /*width: 100%;*/
  overflow-x: hidden;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}
figure{
  margin: 0;
}
figure img{
  height: 15vh;
}
body h1{
  margin: 0;
  font-size: 38pt;
  color: white;
  font-family: SolPro;
  font-weight: 700;
  /*text-shadow: -4px 2px 4px rgba(0, 0, 0, .5);*/

}
body h3 {
  font-size: 28pt;
  text-transform: uppercase;
  font-family: SolPro, sans-serif;
  font-weight: 800;
  color: #F46219;
}
body h4{
  font-size: 22pt;
  text-transform: uppercase;
  font-family: SolPro, sans-serif;
  font-weight: 600;
}
body p {
  /*font-family: Lato, sans-serif;*/
  font-size: 14pt;
  font-weight: 500;
  font-family: SolPro, sans-serif;

}
strong{
  color: #F46219;
  font-weight: 600;
}
.subtitle{
  color: black;
  font-size: 24pt;
  font-family: SolPro, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.43;
  margin-left: 0;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 19vh;
  padding-left:  5vw;
  padding-right: 5vw;
  /*z-index: 3;*/
  /*position: absolute;*/
  background: linear-gradient(to right, rgba(246, 246, 246, 0.42),rgba(255, 127, 0, 0.87), rgba(229, 71, 44, 1)); /*Gradiente naranja*/
  /*background: linear-gradient(to right, rgba(219, 219, 219, 0.42), rgba(45, 45, 45, 1));/*Gradiente negro*/
}

.orangeLine{
  width: 100vw;
  height: 1vh;
  /* background: radial-gradient(farthest-side at 50%, rgba(254, 142, 33, 1),rgba(236, 90, 40, 1)); /*Gradiente naranja*/
  background: linear-gradient(to right, rgba(238, 94, 40, 1),rgba(253, 180, 108, 1), rgba(238, 94, 40, 1)); /*Gradiente naranja*/

}
.shadow{
  box-shadow: -4px 2px 6px rgba(0, 0, 0, 0.5);
}
/*MENU*/

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 14pt;
    font-family: SolPro;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}
.dropbtn:focus{
  border: 1px solid white;
  outline: none;
  border-radius: 6px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 6px;
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1)); /*Gradiente radial gris*/
    min-width: 160px;
    font-family: SolPro;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
}
.menu a{
  font-family: SolPro;
  text-decoration: none;
  font-size: 18px;
  /*color: #1B1215;*/
  color: black;
  margin-right: 5px;
  font-weight:500;
}

/*SLIDER PORTADA*/
.mySlides {
  display:none;
  height: 80vh;
  width: auto;
  transition: .3s;
}

.portada{
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1)); /*Gradiente radial gris*/
  /*background: radial-gradient(circle, rgba(0, 0, 0, 1) , rgba(59, 59, 59, 1));*/
  /*background: radial-gradient(farthest-side at 50%, rgba(254, 142, 33, 1),rgba(236, 90, 40, 0.2));*/
  /*background: linear-gradient(to right, rgba(219, 219, 219, 0.42), rgba(45, 45, 45, 1));*/
  z-index: 3;

}
.textoPortada{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 30vh;
  width: 90vw;
  z-index: 3;
  margin-top: 20vh;
}

.textoPortada h3{
  text-align: center;
  font-size: 18pt;
  font-family: 'Montserrat';
  color: white;
  text-shadow: -4px 2px 4px rgba(0, 0, 0, .5);

}
.rectangle{
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
}
.button{
  font-family: SolPro;
  text-decoration: none;
  color: white;
  background: radial-gradient(farthest-side at 50%, rgba(254, 142, 33, 1),rgba(236, 90, 40, 1)); /*Gradiente naranja*/
  border-radius: 5px;
  padding: 25px 20px 25px 20px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .5);
  margin-top: 10px;
  font-size: 14pt;
  font-weight: 400;
}
.subHeader{
  height: 15vh;
  width: 100vw;
  background: radial-gradient(farthest-side at 50%, rgba(254, 142, 33, 1),rgba(236, 90, 40, 1)); /*Gradiente naranja*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
}
.container{
  display: flex;
  flex-direction: column;
  background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1)); /*Gradiente radial gris*/

}
.bgLogo{
  position: absolute;
  width: 40vw;
}
/*.backgroundCircle{
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  border: 2px dashed black;
  position: absolute;
  border-top-color: transparent;
  bottom: -80vh;
  left: -10vw;
  z-index: 1;
}*/
.quienesSomos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 90vw;
  margin-bottom: 20px;
  /*padding: 5vh 5vw 0 5vw;*/
  z-index: 3;
}
.textoQuienesSomos{
  width: 50vw;
  /*padding-top: 60px;*/
  padding-right: 1vw;
}


.imagenQuienesSomos{
  width: 49vw;
  height: 49vh;
  background-image: url(../images/quienesSomos.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /*max-height: 45vh;
  max-width: 600px;*/
}
.valores{
  width: 90vw;
  margin: 10px 0 5vh 0;
  z-index: 3;
}
.nuestrosServicios{
  /*z-index: 5;
  position: relative; /*Para que los z-index funcionen se necesita que el elemento tenga position absolute relative o fixed*/
  display: flex;
  flex-direction: column;
  background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1)); /*Gradiente radial gris*/
}

.containerServicios{
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
  background-image: url('../images/background.svg');
  /*background: radial-gradient(
        farthest-side at 50%, rgba(255, 255, 255, 0.4),rgba(220, 220, 220, 0.6)
        )
        ,url('../images/background.svg'); /*Gradiente radial gris + imagen de fondo*/

  background-repeat: no-repeat;
  background-size: cover;


  align-items: center;
  justify-content: space-around;
}

th{
  text-align: left;
  padding-left: 15px;

}
td p{
  padding-left: 15px;
  font-size: 18pt;
  font-style: italic;
}
.servicios table{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vineta{
  width: 50px;
  height: auto;
}

.containerNuevo{
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5vw;
  background-image: url('../images/background.svg');
  /*background: radial-gradient(
        farthest-side at 50%, rgba(255, 255, 255, 0.4),rgba(220, 220, 220, 0.6)
        )
        ,url('../images/background.svg'); /*Gradiente radial gris + imagen de fondo*/*/

  background-repeat: no-repeat;
  background-size: cover;


  align-items: center;
  justify-content: space-around;
}
.galeria{
  display: flex;
  flex-direction: column;
}
.mySlides {display:none}
.demo {cursor:pointer}




/*PLOTEO*/
.containerPloteo{
  background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1)); /*Gradiente radial gris*/
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 150vh;

}
.imageSlider{
  height: 85vh;
  width: 100vw;
  position: relative;
  align-self: self-start;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;*/
}

.imageSlider img{
  max-width: 30vw;
  height: auto;

}
#picture1{
  opacity: 0.5;
  position: absolute;
  left: 10vw;
  top: 0;
  bottom: 0;
  left: 10vw;
  margin: auto;
  z-index: 1;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
  animation-name: picture1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: opacity, max-width;
}
#picture2{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /*max-width: 60vw;*/
  max-width: 60vw;
  left: 20vw;
  z-index: 3;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
  animation-name: picture2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: opacity, max-width;



}
#picture3{
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 60vw;
  z-index: 2;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
  animation-name: picture3;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: opacity, max-width;


}
@keyframes picture1 {
  0%{}
    33%{max-width: 60vw; left: 20vw; z-index: 3; opacity: 1;}
      66%{max-width: 30vw; left: 60vw; z-index: 2; opacity: .5;}

}
@keyframes picture2 {
  0%{}
    33%{max-width: 30vw; left: 60vw; z-index: 2; opacity: .5;}
      66%{max-width: 30vw; left: 10vw; z-index: 1; opacity: .5;}

}
@keyframes picture3 {
  0%{}
    33%{max-width: 30vw; left: 10vw; z-index: 1; opacity: .5;}
      66%{max-width: 60vw; left: 20vw; z-index: 3; opacity: 1;}

}
.ploteo{
  flex-direction: column;
  height: 135vh;
}
.textoPloteo{
  height: 50vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.textoPloteo table{
  width: 40vw;

}
.table1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.table2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2vw;
}

.table1 p , .table2 p {
  margin: 10px;
}
.contacto{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: url('../images/bgContacto.png');
  background-size: cover;
}
.redes{
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  justify-content: center;

}
.formulario{
  /*width: 50vw;*/
  background: radial-gradient(farthest-side at 50%, rgba(254, 142, 33, .8),rgba(236, 90, 40, .8));
  padding: 15px;
  border-radius: 8px;
  width: 30vw;
  margin: auto;

}
.buttonContacto{
  width: 30vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 22pt;
  text-shadow: -4px 2px 6px rgba(0, 0, 0, 0.5);
}
.buttonContacto img{
  max-width: 60px;
}
.buttonContacto span{
  width: 100%;
  /*margin-left: 30px;*/
}
.containerFormulario{
  width: 50vw;
  padding: 5vw;
}
.formulario{
  display: flex;
  flex-direction: column;
}
.formulario input{
  margin: 10px 0 10px 0;
  font-family: SolPro;
  font-weight: 300;
  padding: 5px;
  border-radius: 3px;
  border: none;
}
.formulario textarea{
  margin: 5px 0 5px 0;
  font-family: SolPro;
  font-weight: 300;
  padding: 5px;
  border-radius: 3px;
  border: none;
}
body footer{
  height: 30vh;
  background-image: url('../images/bgFooter.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.footerContainer{
  height: 20vh;
  width: 100vw;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: rgba(236, 90, 40, .7);
  display: flex;

}

.footerContent{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  height: 18vh;
  width: 100vw;
  border: 1px dashed white;

}
.footerLogo{
  width: 30vw;
  height: 18vh;
  border-right: 1px dashed white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogo img{
  height: 15vh;
  width: auto;
}
.footerText1, .footerText2{
  display: flex;
  height: 18vh;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}
.footerText1{
  width: 35vw;
}
.footerText2{
  width: 35vw;
}
.footerText1 img{
  width: 30px;
  margin-right: 10px;
}
.footerText2 img{
  width: 30px;
  margin-right: 10px;

}
.footerContent span{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerContent a{
  font-family: SolPro;
  text-decoration: none;
  font-weight: 600;
  font-size: 16pt;
}

/*GALERIA*/
.containerGallery{
  background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.gallery{
  height: 85vh;
  width: 100vw;
  position: relative;
}
.galleryImage{
  height: 85vh;
  width: auto;
  margin: auto;

}
.galleryButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  color: white;
  background-color: black;
  /*border-radius: 5px;*/
  outline: none;
  cursor: pointer;
}
.galleryButtonRight{
  right: 0;
}
.animationIn{
  animation: animationIn 1s;
  will-change: transform;
}

@keyframes animationIn {
  from{
    transform: translateX(-100vw);
  }
  to{
    transform: translateX(0);
  }

}

.responsive{
  display: none;
}
.containerServiciosResponsive{
  display: none;
}
.ploteoResponsive{
  display: none;
}
.menuContainer{
  position: relative;
  z-index: 4;
}
.menuResponsive{
  display: none;
}
.logoAnimado{
  display: none;
}
.aperturaAnimada{
  display: none;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {
  .header{
    display: none;
  }
  .ol1{
    display: none;
  }
  .portada{
    height: 100vh;
    width: 100vw;
  }
  .mySlides{
    height: 100%;
    width: auto;
  }
  .containerServicios{
    flex-wrap: wrap;
    height: 170vh;
  }
  .containerPloteo{
    height: 200vh
  }
  .ploteo{
    height: 185vh;
  }
  .textoPloteo{
    height: 100vh;
    flex-wrap: wrap;
  }
  .textoPloteo table{
    width: 100vw;
  }
  .redes{
    width: 100vw;
    height: 50vh;
  }
  .buttonContacto{
    width: 60vw;
  }
  .containerFormulario{
    width: 100vw;
    height: 50vh;
  }
  .formulario{
    width: 60vw;
  }
  .galleryImage{
    /*max-width: 100vw;*/
    width: auto;
    height: 100%;
  }
  .contacto{
    height: 100vh;
  }
  body footer{
    height: 70vh;
  }
  .footerContainer{
    height: 50vh;
  }
  .footerContent{
    height: 48vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footerLogo{
    width: 100vw;
    height: 25vh;
  }
  .footerText1 img{
    width: 60px;
    margin-right: 20px;
  }
  .footerText2 img{
    width: 60px;
    margin-right: 20px;

  }
  .footerContent a{
    font-size: 22pt;
  }
  .footerText1, .footerText2{
    padding: 0;
    width: 45vw;
  }
  .footerText2 {
    padding-left: 3vw;
  }
  .nuestrosServicios{
    display: none;
  }
  .containerServiciosResponsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  }
  .serviciosTexto{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .serviciosTexto p{
    text-align: left;

  }
  .serviciosTexto img{
    margin-right: 30px;
    height: 50px;
  }
  .containerServiciosResponsive h4{
    font-size: 18pt;
    text-align: center;
  }
  .serviciosTextoContainer{
    margin: 40px 0 40px 0;
  }
  .higiene{
    margin-top: 0;
  }

}

  @media only screen and (max-width: 790px){
  body footer{
    height: 100vh;
  }


  /*MENU RESPONSIVE*/


  .menuResponsive{
    display: flex;
  }
  .menuResponsiveContainer{
    /*display: none;*/
    position: fixed;
    z-index: 4;
    width: 102vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    background-color: rgba(254, 142, 33, .7);
    top: 0;
    bottom: 0;
    left: -102vw;
    right: 0;
    transition: .3s;
  }
  .menuOpen{
    left: 0;
  }
  .menuResponsiveContainer a{
    color: white;
    text-decoration: none;
    font-family: SolPro;
    text-transform: uppercase;
    font-size: 18pt;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed white;
    /*border-top: 1px dashed white;*/
    width: 100%;
    text-align: center;
  }
  .menuResponsiveContainer a:first-child{
    border-top: 1px dashed white;

  }
  .buttonContainer{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(254, 142, 33, 1);
  }
  .menuResponsive img{
    height: 60px;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    background-color: rgba(254, 142, 33, 1);
    padding: 10px;
    border-radius: 50%;
  }
  .exitButton{
    display: none;
  }
  .active{
    display: block;
  }

/*FIN MENU RESPONSIVE*/

/*GALERIA*/
.gallery{
  display: flex;
  align-items: center;
}

.galleryImage{
  width: 100%;
  height: auto;
}
.galleryButton{
  display: none;
}
/*LOGO ANIMADO RESPONSIVE*/
.aperturaAnimada{
  display: none;
}
.logoAnimado{
  display: block;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
  top: -100vh;
  animation: logoAnimado 3.2s;
}

.aperturaAnimadaLeft{
  width: 51vw;
  height: 100vh;
  left: 0;
  position: absolute;
  z-index: 6;
  background:radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  animation: aperturaAnimadaLeft 1s  ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  will-change: position;

}
.aperturaAnimadaRight{
  width: 51vw;
  will-change: position;
  height: 100vh;
  right: -1vw;
  position: absolute;
  z-index: 6;
  background:radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  animation: aperturaAnimadaRight 1s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.animationIn{
  animation-delay: 3s;
}
@keyframes aperturaAnimadaLeft {
  100%{
    left: -55vw;
  }
}
@keyframes aperturaAnimadaRight {
  100%{
    right: -55vw;
  }
}

@keyframes logoAnimado {
  0%{}
    10%{
      top:  35vh;
    }
    30%{
      top:  27vh;
    }
    50%{
      top: 31vh;
    }
    80%{
      top: 31vh;
    }
}

  .footerContainer{
    height: 80vh;
  }
  .footerContent{
    height: 78vh;
    border: none;
  }
  .footerLogo{
    border: none;
    height: 30vh;
  }
  .footerLogo img{
    height: 24vh;
  }
  .footerText1, .footerText2{
    padding: 0;
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around;
  }
  .footerText1 img, .footerText2 img{
    width: 80px;
  }
  .footerText1 a, .footerText2 a {
    font-size: 24pt;
  }
  .footerText1 span, .footerText2 span {
    padding: 0;
  }
}

@media only screen and (max-width: 512px){
  body h1{
    font-size: 28pt;
}





  .imagenQuienesSomos{
    display: none;
}
  .textoQuienesSomos{
    width: 100vw;
  }
  .quienesSomos{
    height: auto;
    margin: 0;
  }
  .valores{
    margin: 0;
  }
  .containerNuevo h3, p{
    text-align: center;
  }
  .containerNuevo strong::after{
    content: "\A";
    white-space: pre;
  }
  .imageSlider{
    display: none;
  }
  .imageSliderResponsive{
    display: flex;
    height: 35vh;
    width: 100vw;
    position: relative;
    animation: sliderResponsive 15s infinite;
    will-change: transform;
    animation-timing-function: ease-in-out;
    /*animation-direction: alternate;*/
  }
  .imageSliderResponsive img{
    height: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;

  }
  .ploteoResponsive{
    display: flex;
    flex-direction: column;
    height: 150vh;
    position: relative;
    background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  }
  .ploteoPapeles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*height: 50vh;*/
  }
  .ploteoResponsiveTexto{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .ploteoPapelesTexto{
    display: flex;
    flex-direction: row;
  }
  .ploteoPapelesTexto img{
    width: 50px;
    margin-right: 20px;
  }
  .containerPloteo{
    display: none
  }
  .ploteoHorarios{
    display: flex;
    /*height: 25vh;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    animation-delay: 1s;

  }

  .ploteoContacto{

    animation-delay: 3s;
    display: flex;
    /*height: 25vh;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

  }

  #imgResponsive1{
    /*animation-name: sliderResponsive;
    animation-duration: 5s;*/
  }
  #imgResponsive2{
    transform: translateX(100vw);
    /*animation-name: sliderResponsive;
    animation-duration: 5s;*/
  }
  #imgResponsive3{
    transform: translateX(200vw);
    /*animation-name: sliderResponsive;
    animation-duration: 5s;*/
  }
  @keyframes sliderResponsive {
    from{
      transform: translateX(0);
    }
    20%{
      transform: translateX(0);
    }
      25%{
        transform: translateX(-100vw);
      }
      45%{
        transform: translateX(-100vw);
      }
      50%{
        transform: translateX(-200vw);
      }
      70%{
        transform: translateX(-200vw);
      }
      75%{
        transform: translateX(-100vw);
      }
      95%{
        transform: translateX(-100VW);
      }
  }
  .redes{
    height: 85vh;
  }
  .buttonContacto{
    font-size: 15pt;
    height: 75px;
    margin-top: 30px;
  }
  .buttonContacto:first-child{
    margin-top: 0;
  }
  .buttonContacto img{
    max-width: 40px;
  }
  .contacto{
    height: 200vh;
    background-position: center;
  }
  .containerFormulario{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formulario{
    width: 80vw;
  }
  body footer{
    height: 100vh;
  }
  .footerContainer{
    height: 80vh;
  }
  .footerContent{
    height: 78vh;
    border: none;
  }
  .footerLogo{
    border: none;
    height: 30vh;
  }
  .footerLogo img{
    height: 22vh;
  }
  .footerText1, .footerText2{
    padding: 0;
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around;
  }
  .footerText1 img, .footerText2 img{
    width: 40px;
  }
  .footerText1 a, .footerText2 a {
    font-size: 14pt;
  }
  .footerText1 span, .footerText2 span {
    padding: 0;
  }
  .nuestrosServicios{
    display: none;
  }
  .containerServiciosResponsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(farthest-side at 50%, rgba(255, 255, 255, 1),rgba(220, 220, 220, 1));
  }
  .serviciosTexto{
    width: 80vw;
  }
  .serviciosTexto p{
    text-align: left;
  }
  .containerServiciosResponsive h4{
    font-size: 18pt;
    text-align: center;
  }
  .serviciosTextoContainer{
    margin: 40px 0 40px 0;
  }
  .higiene{
    margin-top: 0;
  }
}
